 .bigger_container{
    background-color:#eeeeee;
    min-height:50vh;
    padding: 0rem 3rem 0rem 3rem;
  }

  .cards_container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards_wrapper {
    position: relative;
    margin: 45px 0 10px;
  }
  
  .cards_items {
    display:flex;
    flex-wrap:wrap;
  }
  
  .cards_item {
    display: flex;
    flex: 1;
    border-radius: 10px;
    margin:0;
  }
  
  .cards_item_link {
    display:inline-block;
    padding-bottom: 15px;
    margin-bottom:30px;
    width: 250px;
    background:#ffffff;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }

  .cards_button_section{
    position:absolute;
    color:black;
    right: 5px;
    bottom:18px;
    width:150px;
    height:40px;
    margin:0;
    /* background-color:yellow; */

  }

  .cards_item_info {
    padding: 7px 15px 0 17px;
  }

  .cards_item_text {
    color: #252e48;
    font-size: 14px;
    line-height: 20px;
    padding:0 0 3px 0;
  }
  
  @media only screen and (min-width: 600px) {
    .content_blog_container {
      width: 84%;
    }
    
  }


  @media only screen and (min-width: 1200px) {
    .content_blog_container {
      width: 84%;
    }

  }
  
  @media only screen and (min-width: 1024px) {
    .cards_items {
      display: flex;
    }

    .menu_title{
      position:absolute;
      margin-top: 0.2em;
      left:9em;
    }

    .menu_container{
      padding-left:18em;
    }

    .filter_container{
      padding-left:13em;
    }

    .search_container{
      position:absolute;
      right:15em;
      top:0.5em;
    }

  }
  
  
  @media only screen and (max-width: 1024px) {
    .cards_item {
      margin-bottom: 2rem;
    }

    .menu_title{
      position:absolute;
      margin-top: 0.2em;
      left:3em;
    }
    
    .menu_container{
      padding-left:8em;
    }

    .filter_container{
      display: flex;
      align-items: center;
      width: 80%;
      padding-left:2%;
      margin: 0 auto;
    }

    .search_container{
      text-align: center;
      width: 70%;
      padding-bottom: 1em;
      margin:0 auto;
    }
  }

  @media only screen and (max-width: 600px) {
    .cards_item {
        
      margin-bottom: 2rem;
    }

  }
